@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@import 'swiper/css';
@import 'swiper/css/effect-fade';
@import 'swiper/css/pagination';

@theme {
  --font-primary: var(--font-karla);
  --font-secondary: var(--font-raleway);
  --font-tertiary: var(--font-playfair-display);

  --color-primary: #8b0000;
  --color-secondary: #c9a66b;
  --color-accent: #556b78;

  --color-background: #f8f6f1;
  --color-text: #000;
  --color-muted: #6c757d;

  --animate-accordion-down: accordion-down 0.3s ease-out;
  --animate-accordion-up: accordion-up 0.3s ease-out;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 92.5rem;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  html {
    @apply font-primary text-text bg-background;
  }
}

@layer components {
  .container {
    @apply px-5 w-full mx-auto;
  }

  .fade-in {
    @apply opacity-0 transition-opacity duration-500;
  }
  .fade-in-active {
    @apply opacity-100;
  }
  .swiper-pagination-bullet {
    @apply !size-3;
  }
  .swiper-pagination-bullet-active {
    @apply !bg-primary;
  }
}

.rich-text ul {
  @apply mb-4 list-disc list-inside pl-4;
}

.rich-text strong {
  @apply text-primary mb-2 inline-block;
}

.rich-text em {
  @apply text-primary;
}

img {
  @apply select-none pointer-events-none;
}
